.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  position: relative;
  padding: var(--spacing-md);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-dark-opacity);
  }
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.highlight {
  font-family: 'Gabarito', sans-serif;
  font-size: var(--font-size-3xl);
  font-weight: 800;
  line-height: 1;
}

@media (min-width: 480px) {
  .section {
    padding: var(--spacing-md);
  }

  .highlight {
    font-size: var(--font-size-5xl);
  }
}

@media (min-width: 768px) {
  .highlight {
    font-size: var(--font-size-6xl);
  }
}

@media (min-width: 1280px) {
  .section {
    height: calc(100vh - 80px);
  }

  .highlight {
    font-size: var(--font-size-7xl);
  }
}

.text {
  font-family: 'Gabarito', sans-serif;
  font-size: var(--font-size-3xl);
  font-weight: 800;
  line-height: 1;
}

@media (min-width: 480px) {
  .text {
    font-size: var(--font-size-5xl);
  }
}

@media (min-width: 768px) {
  .text {
    font-size: var(--font-size-6xl);
  }
}

@media (min-width: 1280px) {
  .text {
    font-size: var(--font-size-7xl);
  }
}

.buttons-container {
  display: flex;
  gap: var(--spacing-md);
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-text-white);
  }
}

.icon {
  transition: all 0.3s ease;
  color: var(--color-text-white);
  width: var(--font-size-2xl);
  height: var(--font-size-2xl);
}

.button:hover .icon {
  transform: scale(1.1);
  color: var(--color-text-white);
}
